/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

form {
  margin: 0 auto;
  width: 300px;
}
.hidden {
  display: none;
}

#gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  list-style: none;
}

.gallery-item {
  width: 300px;
  border: 1px solid #ccc;
}

.gallery-item img {
  width: 100%;
  display: block;
}

.info {
  display: flex;
  justify-content: space-around;
  font-size: 12px;
}
.hidden {
  display: none;
}

#load-more {
  
  margin: 20px auto;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  background-color: #4e75ff;
  color: white;
  cursor: pointer;
}

#load-more:hover {
  background-color: #6c8cff;
}